@import "../base/listas";
@import "../base/extends";


.breadcrumb-contenedor {
    margin-top: 25px;
}


/* Formulario contactanos*/
.contenedor-contacto {
    display: flex;
    padding: 15px 0;

    .containter-formulario {
        width: 50%;

        @media all and (max-width: 768px) {
            width: 70%;
        }

        div {
            form {
                div {
                    label {
                        margin-bottom: 15px;
                    }

                    input {
                        width: 90%;
                        border-radius: 5px;
                        border: 1px solid;
                        padding: 12px 19px;
                        margin-bottom: 20px;
                        display: block;
                    }

                    textarea {
                        width: 90%;
                        border-radius: 5px;
                        border: 1px solid;
                        padding: 12px 19px;
                        margin-bottom: 20px;
                        display: block;
                        resize: none;
                    }
                }

                button {
                    width: 40%;
                    height: 35px;
                    margin-top: 10px;
                    color: nth($colores, 4);
                    padding: 1px 12px;
                    font-weight: bold;
                    transition: all 0.3s ease;
                    border-radius: 20px;
                    border: 1px solid nth($colores, 4);
                    background: nth($colores, 1);
                    text-align: center;
                    text-decoration: none;
                    font-size: 14px;

                    &:hover {
                        background: nth($colores, 4);
                        color: nth($colores, 11);
                        border: 1px solid nth($colores, 4);
                    }
                }
            }
        }
    }

    @media all and (max-width: 768px) {
        flex-direction: column;
        padding: 0;
        align-items: center;
    }
}


/* columna otra info */


.container-contacto-info {
    width: 50%;

    hr {
        @extend %linea-rosa;
    }

    div {
        display: flex;

        i {
            padding-right: 16px;
            font-size: 20px;
            color: nth($colores , 2);
        }
    }


    @media all and (max-width: 768px) {
        width: 70%;
        margin-top: 34px;
    }

    iframe {
        @media all and (max-width: 768px) {
            width: 100%;
        }

        padding-bottom: 25px;
    }
}