@import "../base/listas";
@import "../base/extends";


/* texto pre acordion */

.preguntas_introinfo {
    p {
        margin: 15px;
        text-align: center;
        font-size: 24px;

        a {
            color: nth($colores, 2);
        }
    }
}

/* primer acordion */

.preguntas_section {
    padding-top: 24px;
    display: flex;
    margin: 8px 0;

    .preguntas_container {
        width: 50%;
        height: auto;

        .preguntas_frec_headings {
            h2 {
                font-size: 24px;
                font-weight: bold;
                padding: 8px;
            }
        }

        .shadow-custom {
            width: 90%;
            border-radius: 25px;
            box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%);

            div {
                border-radius: 25px !important;

                h2 {
                    button {
                        border-radius: 25px !important;
                        font-weight: bold;

                        &:hover {
                            background-color: nth($colores, 2);
                            color: nth($colores, 4);
                            transition: 1s;
                        }

                        &:focus {
                            box-shadow: none;
                            outline: nth($colores, 3) 1px solid;
                        }

                        &:not(.collapsed) {
                            color: nth($colores, 11);
                            font-weight: bold;
                            background-color: nth($colores, 3);
                            border-radius: 25px;
                        }
                    }
                }

                div {
                    div {
                        font-size: 14px;


                        .color_p_custom {
                            color: nth($colores, 3);
                        }
                    }
                }
            }
        }

        @media all and (max-width:768px) {
            width: 100%;
        }

    }

    @media all and (max-width:768px) {
        display: block;
    }
}

/* contenedor info (retiro de compras) */

.contenedor_side_info {
    width: 50%;
    height: auto;
    padding-left: 24px;

    .preguntas_info {
        p {
            font-size: 14px;
        }
    }

    @media all and (max-width:768px) {
        padding-top: 15px;
        width: 100%;
    }
}


/* segundo acordion  */


.contenedor_acordion2 {
    padding-bottom: 15px;

    .shadow-custom {
        width: 90%;
        border-radius: 25px;
        box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%);

        div {
            border-radius: 25px !important;

            h2 {
                button {
                    border-radius: 25px !important;
                    font-weight: bold;

                    &:hover {
                        background-color: nth($colores, 2);
                        color: nth($colores, 4);
                        transition: 1s;
                    }

                    &:focus {
                        box-shadow: none;
                        outline: nth($colores, 3) 1px solid;
                    }

                    &:not(.collapsed) {
                        color: nth($colores, 11);
                        font-weight: bold;
                        background-color: nth($colores, 3);
                        border-radius: 25px;
                    }
                }
            }

            div {
                div {
                    font-size: 14px;

                }
            }
        }
    }
}

