/* texto pre acordion */

.preguntas_introinfo {
    p {
        margin: 15px;
        text-align: center;
        font-size: 24px;

        a {
            color: #f7c2b0;
        }
    }
}


// .preguntas_introinfo p {
//     margin: 15px;
//     text-align: center;
//     font-size: 24px;
// }

// .preguntas_introinfo p a {
//     color: #f7c2b0;
// }


/* primer acordion */


.preguntas_section {
    padding-top: 24px;
    display: flex;
    margin: 8px 0;

    .preguntas_container {
        width: 50%;
        height: auto;

        .preguntas_frec_headings {
            h2 {
                font-size: 24px;
                font-weight: bold;
                padding: 8px;
            }
        }

        .shadow-custom {
            width: 90%;
            border-radius: 25px;
            box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%);

            div {
                border-radius: 25px !important;

                h2 {
                    button {
                        border-radius: 25px !important;
                        font-weight: bold;

                        &:hover {
                            background-color: #f7c2b0;
                            color: black;
                            transition: 1s;
                        }

                        &:focus {
                            box-shadow: none;
                            outline: #f3906f 1px solid;
                        }

                        &:not(.collapsed) {
                            color: rgb(255, 255, 255);
                            font-weight: bold;
                            background-color: #f3906f;
                            border-radius: 25px;
                        }
                    }
                }

                div {
                    div {
                        font-size: 14px;


                        .color_p_custom {
                            color: #f3906f;
                        }
                    }
                }
            }
        }

        @media all and (max-width:768px) {
            width: 100%;
        }

    }

    @media all and (max-width:768px) {
        display: block;
    }
}

// .preguntas_section {
//     padding-top: 24px;
//     display: flex;
//     margin: 8px 0;
// }

// @media all and (max-width:768px) {
//     .preguntas_section {
//         display: block;
//     }
// }

// .preguntas_container {
//     width: 50%;
//     height: auto;
// }

// @media all and (max-width:768px) {
//     .preguntas_container {
//         width: 100%;
//     }
// }

// .preguntas_frec_headings h2 {
//     font-size: 24px;
//     font-weight: bold;
//     padding: 8px;
// }

/* contenedor info (retiro de compras) */

.contenedor_side_info {
    width: 50%;
    height: auto;
    padding-left: 24px;

    .preguntas_info {
        p {
            font-size: 14px;
        }
    }

    @media all and (max-width:768px) {
        padding-top: 15px;
        width: 100%;
    }
}

// .contenedor_side_info {
//     width: 50%;
//     height: auto;
//     padding-left: 24px;
// }

// @media all and (max-width:768px) {
//     .contenedor_side_info {
//         padding-top: 15px;
//         width: 100%;
//     }
// }


/* segundo acordion  */


.contenedor_acordion2 {
    padding-bottom: 15px;

    .shadow-custom {
        width: 90%;
        border-radius: 25px;
        box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%);

        div {
            border-radius: 25px !important;

            h2 {
                button {
                    border-radius: 25px !important;
                    font-weight: bold;

                    &:hover {
                        background-color: #f7c2b0;
                        color: black;
                        transition: 1s;
                    }

                    &:focus {
                        box-shadow: none;
                        outline: #f3906f 1px solid;
                    }

                    &:not(.collapsed) {
                        color: rgb(255, 255, 255);
                        font-weight: bold;
                        background-color: #f3906f;
                        border-radius: 25px;
                    }
                }
            }

            div {
                div {
                    font-size: 14px;

                }
            }
        }
    }
}



// .preguntas_info p {
//     font-size: 14px;
// }



// .accordion-body {
//     font-size: 14px;
//    
// }

// .color_p_custom {
//     color: #f3906f;
// }

// .shadow-custom {

//     width: 90%;
//     border-radius: 25px;
//     box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%);
// }


// .color-custom-btn:hover {
//     background-color: #f7c2b0;
//     color: black;
//     transition: 1s;
// }

// .color-custom-btn:focus {
//     box-shadow: none;
//     outline: #f3906f 1px solid;

// }

// .color-custom-btn:not(.collapsed) {
//     color: rgb(255, 255, 255);
//     font-weight: bold;
//     background-color: #f3906f;
//     border-radius: 25px;
// }

// .border-radius-btn {
//     border-radius: 25px !important;
// }

// .color-custom-btn {
//     border-radius: 25px !important;
//     font-weight: bold;
// }

// .contenedor_acordion2 {
//     padding-bottom: 15px;
// }