@import "../base/listas";
@import "../base/extends";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    line-height: normal;
}


.header-contenedor {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: nth($colores , 1);

    nav {
        background-color: nth($colores , 1);
        width: 70%;

        div {
            a {
                div {
                    img {
                        height: 140px;
                        width: auto;
                        border-radius: 30px;

                    }
                }
            }

            div {
                justify-content: flex-end;
                flex-grow: 0;

                ul {
                    li {
                        a {
                            text-decoration: none;
                            color: nth($colores , 4);
                            font-size: 16px;
                            line-height: 20px;
                            letter-spacing: 0.4px;
                            font-weight: 600;
                            padding: 0 2px;

                            &:hover {
                                border-radius: 5px;
                                background-color: nth($colores , 4);
                                color: nth($colores , 11);
                            }
                        }

                        .current_page {
                            @extend %current-page-line;
                        }

                        .cart-icon {
                            margin-right: 25px;
                        }

                    }
                }
            }


        }
    }

}


/*Seccion formulario search button header*/

.d-flex {
    input {
        margin: 4px;
        padding: 2px;
        border: none;
        border-bottom: 1px nth($colores , 4) solid;
        width: 70%;
        background: transparent;
        border-radius: 0;

        &:focus {
            margin: 4px;
            padding: 2px;
            border: none;
            border-bottom: 1px nth($colores , 4) solid;
            width: 70%;
            background: transparent;
            border-radius: 0;
            box-shadow: none;
        }
    }

    button {
        background-color: transparent;
        border: 1px nth($colores , 4) solid;
        padding: 2px 4px;
        width: 32px;
        cursor: pointer;
        margin: 4px;
        border-radius: 5px;
        color: nth($colores , 4);

        &:hover {
            @extend %boton-search-header;
        }

        &:focus {
            @extend %boton-search-header;
            box-shadow: none;
        }

        &:active {
            background-color: nth($colores , 4) !important;
            color: nth($colores , 11);
            border: nth($colores , 11);
        }
    }
}