@import "../base/listas";
@import "../base/extends";

.breadcrumb-contenedor {
    margin-top: 25px;
}


/*formulario ingresar*/


.contenedor-login-registrate {
    display: flex;
    padding: 15px 0;

    @media all and (max-width: 768px) {
        flex-direction: column;
        padding: 0;
        align-items: center;
    }
    .containter-form-login {
        width: 50%;
        @media all and (max-width: 768px) {
            width: 70%;
        }
        form {
            .contenedores-botones {
                display: flex;
                flex-direction: column;
                margin-top: 30px;

                .login-submit-btn {
                    @extend %btn-submit-google;
                    background-color: nth($colores , 20);

                    @media all and (max-width: 768px){
                        width: 100%;
                    }
                }

                .login-google-submit-btn {
                    @extend %btn-submit-google;
                    background-color: nth($colores , 19);

                    @media all and (max-width: 768px){
                        width: 100%;
                    }

                    i{
                        margin-right: 8px;
                    }
                }
            }

            div {
                label {
                    margin-bottom: 15px;
                }

                input {
                    width: 60%;
                    border-radius: 5px;
                    border: 1px solid;
                    padding: 12px 19px;
                    margin-bottom: 20px;
                    display: block;

                    @media all and (max-width: 768px) {
                        width: 100%;
                    }
                }
            }
        }
    }

    /* formulario registrate */

    .containter-form-registrate {
        width: 50%;
        @media all and (max-width: 768px) {
            margin-top: 34px;
            width: 70%;
        }
        
        form {
            div {
                label {
                    margin-bottom: 15px;
                }

                input {
                    width: 60%;
                    border-radius: 5px;
                    border: 1px solid;
                    padding: 12px 19px;
                    margin-bottom: 20px;
                    display: block;

                    @media all and (max-width: 768px){
                        width: 100%;
                    }
                }
            }

            button {
                @extend %btn-submit-google;
                background-color: nth($colores , 20);
            
                @media all and (max-width: 768px) {
                    width: 100%;
                }
            }
        }
    }
}
