@import "../base/listas";


.breadcrumb-contenedor {
    margin-top: 25px;
}



.pdp-container {
    display: flex;
    margin-top: 56px;

    @media all and (max-width: 768px) {
        flex-direction: column;
        padding: 0;
        align-items: center;
    }

    /*Imagenes/carousel PDP*/
    .carousel-productos {
        width: 55%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media all and (max-width: 768px) {
            width: 70%;
        }

        .img-producto-principal {
            width: 60%;
            height: auto;

            img {
                width: 100%;
            }
        }

        .imagen-prod-btn {
            display: flex;
            justify-content: center;

            button {
                width: 22%;
                height: auto;
                padding: 2px;
                margin: 2px;
                border: 1px solid nth($colores , 10);
                background-color: white;
            }
        }

        .imagen-prod-btn {
            button {
                img {
                    width: 100%;
                }
            }
        }

    }

    /*----------------*/

    .detalle-d-producto {
        width: 45%;
        padding: 0 15px;

        @media all and (max-width: 768px) {
            width: 70%;
            margin-top: 34px;
        }

        h1 {
            font-size: 30px;
            line-height: 1.2;
        }

        .precio-producto {
            font-weight: bold;
            color: nth($colores , 3);
            font-size: 20px;
        }

        form {

            div {
                width: 150px;

                button {
                    width: 25px;
                    height: 25px;
                    border: 1px solid nth($colores, 10)
                }

                label {
                    display: none;
                }

                input {
                    width: 40px;
                    height: 25px;
                    text-align: center;
                }

            }

            .agregar-cart-btn {
                margin-top: 10px;
                min-width: 120px;
                color: nth($colores, 4);
                padding: 5px 10px;
                font-weight: bold;
                transition: all 0.3s ease;
                border-radius: 20px;
                border: 2px solid nth($colores, 1);
                background: nth($colores, 1);
                text-align: center;
                text-decoration: none;
                font-size: 14px;

                &:hover {
                    background: nth($colores, 11);
                    color: nth($colores, 3);
                }
            }
        }
    }


}


// .carousel-productos {
//     width: 55%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

// .pdp-container {
//     display: flex;
//     margin-top: 56px;
// }

// .img-producto-principal {
//     width: 60%;
//     height: auto;

// }

// .img-producto-principal img {
//     width: 100%;

// }


// .imagen-prod-btn button {
//     width: 22%;
//     height: auto;
//     padding: 2px;
//     margin: 2px;
//     border: 1px solid nth($colores , 10);
//     background-color: white;

// }

// .carousel-productos button img {
//     width: 100%;
// }



// .detalle-d-producto {
//     width: 45%;
//     padding: 0 15px;
// }

// .imagen-prod-btn {
//     display: flex;
//     justify-content: center;
// }

// .heading-product {
//     font-size: 30px;
//     line-height: 1.2;
// }

// .precio-producto {
//     font-weight: bold;
//     color: nth($colores , 3);
//     font-size: 20px;
// }

// .agregar-cart-btn {
//     margin-top: 10px;
//     min-width: 120px;
//     color: nth($colores, 4);
//     padding: 5px 10px;
//     font-weight: bold;
//     transition: all 0.3s ease;
//     border-radius: 20px;
//     border: 2px solid nth($colores, 1);
//     background: nth($colores, 1);
//     text-align: center;
//     text-decoration: none;
//     font-size: 14px;
// }

// .agregar-cart-btn:hover {
//     background: nth($colores, 11);
//     color: nth($colores, 3);
// }

// .cantidad-producto {
//     width: 150px;

// }

// .cantidad {
//     width: 40px;
//     height: 25px;
//     text-align: center;
// }

// .cantidad-producto button {
//     width: 25px;
//     height: 25px;
//     border: 1px solid nth($colores, 10);
// }

// .cantidad-producto label {
//     display: none;
// }

// @media all and (max-width: 768px) {
//     .pdp-container {
//         flex-direction: column;
//         padding: 0;
//         align-items: center;
//     }

//     .carousel-productos,
//     .detalle-d-producto {
//         width: 70%;
//     }

//     .detalle-d-producto {
//         margin-top: 34px;
//     }
// }

// .h2-productos-relacionados {
//     margin-bottom: 10px;
//     margin-top: 25px;
//     color: #030303;
//     font-size: 30px;
//     line-height: 1.2;
//     text-align: center;
// }



.h2-productos-relacionados {
    margin-bottom: 10px;
    margin-top: 25px;
    color: #030303;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;

}
    // .line_categorias {
    //     max-width: 100%;
    //     width: 90px;
    //     margin: 10px 0;
    //     border-top-width: 3px;
    //     border-top-style: solid;
    //     border-top-color: nth($colores , 1);
    //     border-left-width: 0px;
    //     border-right-width: 0px;
    //     border-bottom-width: 0px;
    //     opacity: 1;
    // }




.section_producto_container {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;

    .producto_container {
        width: 90%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 15px;

        .product_card {
            width: 368px;
            height: 465px;
            margin-bottom: 20px;
            text-align: center;
            overflow: hidden;
            border: nth($colores, 16) 3px solid;
            transition-duration: 0.4s;
            box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);

            &:hover {
                border: nth($colores, 17) 3px solid;
            }

            .producto-image {
                width: 90%;
                height: 200px;
                margin: 20px auto;

                img {
                    width: auto;
                    height: 100%;
                    transition: 0.2s;

                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }

            .product-info {
                h2 {
                    font-size: 18px;
                    padding: 0 25px;
                    margin-bottom: 10px;
                    height: 44px;
                    line-height: normal;
                    font-weight: bold;
                }

            }

            .product-btn {
                width: 90%;
                margin: 0 auto;

                button {
                    width: 100%;
                    margin-top: 20px;
                    padding: 8px;
                    background: nth($colores, 2);
                    border: 2px solid nth($colores, 2);
                    color: nth($colores, 16);
                    font-size: 20px;
                    transition: 0.3s;

                    &:hover {
                        background: nth($colores, 16);
                        border: 2px solid nth($colores, 2);
                        color: nth($colores, 2);
                    }
                }
            }

            .product-link {
                display: inline-block;
                margin-top: 15px;
                padding: 10px 0;
                width: 90%;
                height: 43px;
                text-decoration: none;
                color: nth($colores, 2);
                transition: 0.3s;
                height: auto;
                border: nth($colores, 2) 2px solid;
                font-weight: bold;

                &:hover {
                    background-color: nth($colores, 2);
                    color: nth($colores, 4);
                    font-weight: bold;
                }

            }
        }
    }
}