%linea-rosa {

    max-width: 100%;
    width: 90px;
    margin: 10px 0;
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: nth($colores , 1);
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    opacity: 1;
}

%heading2-style {
    margin: 10px 0;
    color: nth($colores, 4);
    font-size: 48px;
    line-height: 1.4;
    text-align: center;
}

%grid-config-categorias {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-size: cover;
    background-position: center;

}

%current-page-line {
    border-bottom: 2px solid nth($colores , 4);
}

%boton-search-header {
    background-color: nth($colores , 4);
    color: nth($colores , 11);
    border: nth($colores , 11);
}

%btn-submit-google {
    width: 60%;
    padding: 12px 19px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}